.dragDropContainer{
    background-color: #222222;
    border: 1px solid rgba(214, 214, 214, 0.2);
    padding: 0.7rem;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: auto;
    max-height: 70vh;

    @media (max-width: 917px){
      display: none;
    }
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #5C5C5C;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(185, 182, 182);
  }
