.content {
  margin-top: 0.7rem;
  max-height: 85vh;
  display: flex;
}
.content_1 {
  flex-basis: 15%;
}
.content_2 {
  box-sizing: border-box;
  flex-basis: 50%;
  margin-right: 0.7rem;
  margin-left: 0.7rem;
}
.content_3 {
  background-color: white;
  flex-basis: 35%;
}
