.place{
    padding: 0.3rem;
    font-size: 1rem;
    outline: 0;
    border: 0;
    background: transparent;
    width: 100%;
    text-align: left;

    border-bottom: 1px solid #5C5C5C;
    &_elem{
        margin-right: 0.3rem;
    }

    &:hover{
        cursor: pointer;
    }
}